@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url('/animated-background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
